
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    color: blue;
}
p{
    color: blue;
}
section{
    display:flex;
}
.full-width{
    width: 50%;
    padding-left:2%;
}
.half-width{
    width: 50%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 40px;
    color: white;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
}
.Dt{
    text-align: center;
}
.link-button1{
    text-decoration: none;
    padding: 10px 40px;
    color: black;
    text-align: center;
    font-weight: 200;
   margin-bottom: 2px;
   margin-color: black;
}

.tk{
    padding: 10px 40px;
    color: blue;
    text-align: center;
    font-weight: 200;
    border-radius: 5px;
}